
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #921e41;
    --branco:  #FFFFFF;
    --laranja: #24dada;
    -azul-degrade: linear-gradient(97.54deg, #a163b1 35.49%, #b81f8a 165.37%);
    --fonte-principal: "Poppins";
    --azul: #1987db;;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #7c4343;
    --cinza-claro: #ff0000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
